.icon-carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 30px; /* Adjust this value to your preference */
}

.carousel-slider {
  display: flex;
  transition: all 0.3s ease;
}

.carousel-slide {
  min-width: calc(100% / 3); /* Ensure 3 images visible at a time */
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slide img {
  width: 25%; /* Adjust to your preference */
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  .carousel-slide img {
    width: 90%; /* Increase the size on mobile devices */
  }

  .icon-carousel {
    overflow-x: hidden; /* In case there's any spillover */
  }
}
