.navbar-container {
  width: 200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
}

.option {
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* Explicitly set to transparent */
  transition: font-weight 0.3s ease, color 0.3s ease;
  cursor: pointer;
  position: absolute;
  right: -100px;
}

.option:hover {
  color: rgba(0, 128, 255, 0.6); /* Gives a hover effect */
}

.option.selected {
  font-weight: bold; /* Make the selected option bold */
}

.pointer {
  width: 6px;
  height: 75px;
  background-color: whitesmoke;
  position: absolute;
  top: calc(50% - 42.5px);
  left: 50px; /* Reduced from 15px to 10px to bring it closer */
  transform-origin: 50% 100%;
  transition: transform 0.3s ease;
}
