.navbar-container {
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  transition: transform 0.3s ease-out;
}

.option {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 5px 0;
  font-size: medium;
}

.option:hover {
  font-size: larger;
  color: #ffd580;
}

.option.selected {
  font-weight: bold;
  font-size: x-large;
  color: orange;
}

.toggle-btn {
  display: none; /* Initially hidden */
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: orange;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 200;
  transition: transform 0.3s ease-out;
}

.navbar-container.open + .toggle-btn {
  display: none; /* Hide when navbar is open */
}

.toggle-btn:after {
  content: ">";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

.navbar-container.open + .toggle-btn:after {
  content: ">";
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  .navbar-container {
    transform: translateX(-210px); /* Hide it completely on the left */
    z-index: 101; /* Make sure navbar stays above the overlay */
  }

  .navbar-container.open {
    transform: translateX(0);
  }

  .toggle-btn {
    display: block; /* Display only on mobile */
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 200px; /* Start the overlay just after the navbar */
    width: calc(100vw - 200px); /* Adjust width to occupy rest of the screen */
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    z-index: 100;
  }

  .overlay.show {
    display: block;
  }
}
