.section-container {
  flex: 1;
  padding: 40px;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center; /* center content on larger screens */
  position: relative;
  margin-left: 200px; /* This ensures no overlap with the navbar on desktop */
}

.section-content {
  width: 100%;
  max-width: calc(100% - 240px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/* Wider screen styles */
@media only screen and (min-width: 769px) {
  .section-content {
    margin-left: 0;
  }
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  .section-container {
    padding: 10px 20px; /* Reduced padding for mobile */
    margin-left: 0; /* Reset the margin for mobile to ensure full-width */
    align-items: flex-start; /* align content to start from top */
  }

  .section-content {
    margin-left: 0;
    max-width: 100%; /* Ensure content takes full width */
    align-items: flex-start; /* If you want content alignment to start from the top */
  }
}
