.about-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 30px;
}

.badge-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Spacing between badges */
  margin-bottom: 20px;
}

.badge {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

/* For non-mobile views, place badges next to the profile photo */
@media (min-width: 768px) {
  .about-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px; /* Space between profile image, badges, and text */
  }

  .about-text {
    flex: 1;
  }

  .badge-container {
    order: 2; /* Places badges after the profile image but before the text */
    margin-bottom: 0;
  }
}
